body, html, ul, li, h1 {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'Schalk';
  src: url('../Schalk.ttf');
}

body {
  font-family: "Schalk";
  font-size: 24px;
  color: white;
  font-weight: bold;
  background: url('../images/blackboard.jpg');
  letter-spacing: 5px;
}

h1 {
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;

}

.snake-game {
  text-align: center;
  font-size: 28px;
}

.board {
  margin: 0 auto;
  width: 400px;
  border: 5px solid #A36F57;
  /*border-image: url('../images/chalkboard-green.jpg') 10 10 stretch;*/
  border-radius: 2px;
  background: url('../images/chalkboard-green.jpg');
}

.board > li {
  float: left;
  width: 20px;
  height: 20px;
}

.board .snake-head {
  background: #fffef9;
  display: inline-block;
  position: relative;
}

.snake-head:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.snake-head.W:before {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid white;
  left: -10px;
}

.snake-head.E:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
  right: -10px;
}

.snake-head.S:before {
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  left: 0px;
}

.snake-head.N:before {
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -10px;
  left: 0px;
}

.board .snake {
  height: 18px;
  width: 18px;
  margin: 1px;
  background: #f4f4f0;
}

.apple {
  position: relative;
}

.apple:after {
  font-size: 20px;
  font-family: cursive;
  content: 'π';
  position: absolute;
  color: #fffef9;
  top: -5px;
  left: 2px;
  z-index: 9;
  height: 20px;
  width: 20px;
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
}

.score {
  display: inline-block;
}

.scorer {
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
  /*border: 10px solid #A36F57;*/
  /*border-image: url('../images/chalkboard-green.jpg') 10 10 stretch;*/
  /*border-radius: 5px;
  background: url('../images/chalkboard-green.jpg');*/
  padding: 10px 10px 0 10px;
}

/*.left {
  float: left;
  width: 280px;
  border: 10px solid #A36F57;
  border-radius: 5px;
  background: url('../images/chalkboard-green.jpg');
}*/

/*.right {
  float: left;
  width: 420px;
}*/
.main {
  margin: 0 auto;
  width: 420px;
}

.pause-screen {
  font-size: 18px;
  margin-top: 130px;
  margin-left: 37px;
  margin-right: auto;
  width: 300px;
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
  border: 2px solid #A36F57;
  background: url('../images/chalkboard-black.jpg');
  border-radius: 2px;
  opacity: 0.8;
  z-index: 99;
}

.start-screen {
  font-size: 18px;
  margin-top: 130px;
  margin-left: 35px;
  width: 305px;
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
  border: 2px solid #A36F57;
  background: url('../images/chalkboard-black.jpg');
  border-radius: 2px;
  opacity: 0.8;
  z-index: 99;
}

.restart-screen {
  font-size: 18px;
  margin-top: 130px;
  margin-left: 38px;
  width: 300px;
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
  border: 2px solid #A36F57;
  background: url('../images/chalkboard-black.jpg');
  border-radius: 2px;
  opacity: 0.8;
  z-index: 99;
}

.hidden {
  display:none;
}
