body, html, ul, li, h1 {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  color: #ccc;
  font-weight: bold;
  background: url('../images/blackboard.jpg');
}

h1 {
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
}

.snake-game {
  text-align: center;
  font-size: 28px;
}

.board {
  margin: 0 auto;
  width: 400px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background: #ccc;
}

.board > li {
  float: left;
  width: 20px;
  height: 20px;
}

.board .snake-head {
  background: #137B13;
  display: inline-block;
  position: relative;
}

.snake-head:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.snake-head.W:before {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #137B13;
  left: -10px;
}

.snake-head.E:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #137B13;
  right: -10px;
}

.snake-head.S:before {
  border-bottom: 10px solid #137B13;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  left: 0px;
}

.snake-head.N:before {
  border-top: 10px solid #137B13;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -10px;
  left: 0px;
}

.board .snake {
  height: 18px;
  width: 18px;
  margin: 1px;
  background: #31A231;
}

.apple {
  background: url('../images/pi.png');
}

.score {
  display: inline-block;
}

.message {
  display: none;
}

.visible > .message {
  display: inline-block;
  position: fixed;
  font-size: 24px;
  bottom: 240px;
  right: 520px;
  width: 200px;
  background: #ccc;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  color: #ccc;
  letter-spacing: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
}

.scorer {
  text-shadow: 1px 1px 1px #000, 2px 2px 3px #000;
  color: #aaa;
}

.restart button {
  background: #ccc;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:focus {
  outline: 0;
}
